.divDesign(@color) when (green(@color) < 130)
{
    width: 4em;
    height: 4em;
    background-color: @color;
    border: 5px solid darken(@color, 20%);
    font-size: 1.5em;   
}

@test: rgb(255, 127, 127);
#divDesign
{
    .divDesign(@test);
}
