/*
 * Hier komen alle less variabelen en mixins
 * Tip: link dit bestand als eerste bovenaan in index.php 
 */
 
@baseColor: #65C1CD;
@fontSize: 2em;
@borderColor: white;
@borderExample: 2px solid lighten(@baseColor, 35%);
@margin: 2em 1em 2em 1em;
@headFootColor: RGB(138, 192, 8);
@linkColor: RGB(255, 127, 0);

// Dit is een mixin
.customBorderBackground
{
	background-color: @headFootColor;
	border:5px solid darken(@headFootColor, 5%);
	border-radius:6px;
}