*
{
	margin:0px;
	padding:0px;
}

#link
{
	background-color:rgb(255, 127, 0);
	color:white;
	border-radius:6px;
	text-align:center;
	margin-top:10px;
	font-size:16px;
	padding:10px;
}

#footer, #banner
{
	font-size:25px;
	font-weight:bold;
	text-align:center;
	background-color:RGB(138, 192, 170);
	color:white;
	border-radius:6px;
	padding:10px;
}

body
{
	font-family:Verdana, Arial;
	font-size:14px;
}

#container
{
	border:0px solid blue;
	padding:0px;
	margin:30px auto;
	width:270px;
}

#banner
{
	border:0px solid red;
}

#content
{
	border:0px solid green;
	background-color:RGB(221,221,221);
	padding:20px;
	border-radius:6px;
	margin-top:20px;
	margin-bottom:20px;
}

#footer
{
	border:0px solid red;
	
}

a
{
	color:white;
	text-decoration:none;
}

a:hover
{
	font-size:15px;
}