/*
 * Hier komen alle less variabelen en mixins
 * Tip: link dit bestand als eerste bovenaan in index.php 
 */
* {
  margin: 0px;
  padding: 0px;
}
#link {
  background-color: #ff7f00;
  border: 5px solid #cc6600;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
}
#user_info #bottom {
  clear: left;
}
#footer,
#banner {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #8ac008;
  border: 5px solid #678f06;
  border-radius: 6px;
}
body {
  font-family: Verdana, Arial;
  font-size: 14px;
}
#container {
  border: 0px solid blue;
  padding: 0px;
  margin: 30px auto;
  width: 800px;
}
#content {
  background-color: #dddddd;
  border: 5px solid #c4c4c4;
  border-radius: 6px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  color: white;
  text-decoration: none;
}
#register {
  border: 0px solid grey;
  width: 300px;
  margin: 0px auto;
}
#register input {
  border-radius: px;
  border: 1px solid grey;
  padding: 10px;
  width: 150px;
}
#register table {
  padding: 6px;
  border: 0px solid grey;
  border-collapse: collapse;
}
#register table td {
  padding: 6px;
  border: 0px solid grey;
}
#register input[type=submit] {
  background-color: #ff7f00;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  width: 171px;
}
.styleUl {
  list-style-type: none;
}
.table {
  border: 0px solid grey;
  width: 420px20px;
  margin: 0px 0px;
}
.table input {
  border-radius: 6px;
  border: 0px solid grey;
  padding: 10px;
  width: 150px;
}
.table table td {
  padding: 6px;
  border: 0px solid grey;
}
.table table {
  border-collapse: collapse;
}
.table input[type=submit] {
  background-color: #ff7f00;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  width: 171px;
}
#dev_home_container {
  overflow: hidden;
}
#dev_home_container div {
  border: 1px solid red;
  width: 150px;
  height: 150px;
  margin-top: 2%;
  margin-right: 2%;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
#dev_home_container #nr_1 {
  background-color: yellow;
  float: left;
  width: 31%;
  height: 250px;
}
#dev_home_container #nr_2 {
  background-color: black;
  float: right;
  width: 31%;
  height: 400px;
}
#dev_home_container #nr_3 {
  background-color: purple;
  float: left;
  width: 100%;
  clear: both;
}
#dev_home_container #nr_4 {
  background-color: maroon;
  float: left;
  clear: left;
  width: 70%;
}
#dev_home_container #nr_5 {
  background-color: pink;
  float: left;
  width: 21%;
}
#dev_home_container #nr_6 {
  background-color: brown;
  float: left;
  width: 100%;
  height: 400px;
}
#dev_home_container #nr_7 {
  background-color: green;
  float: left;
  width: 156px;
  height: 400px;
}
#dev_home_container #nr_8 {
  background-color: grey;
  float: left;
}
#dev_home_container #nr_9 {
  background-color: yellow;
  float: left;
}
#dev_home_container #nr_10 {
  background-color: black;
  float: left;
}
#dev_home_container #nr_11 {
  background-color: purple;
  float: left;
}
#dev_home_container #nr_12 {
  background-color: maroon;
  float: left;
}
#dev_home_container #nr_13 {
  background-color: pink;
  float: left;
}
#dev_home_container #nr_14 {
  background-color: brown;
  float: left;
}
#dev_home_container #nr_15 {
  background-color: green;
  float: left;
}
#dev_home_container #nr_16 {
  background-color: grey;
  float: left;
}
#dev_home_container br {
  clear: both;
}
#dev_container {
  border: 0 px solid black;
  overflow: hidden;
}
#dev_container a {
  display: block;
}
#dev_container nav,
section {
  background-color: #c8c8c8;
  padding: 1%;
  padding-bottom: 1000em;
  margin-bottom: -999em;
  border-radius: 6px;
}
#dev_container nav {
  width: 24%;
  float: left;
  margin-right: 1%;
}
#dev_container section {
  width: 71%;
  float: right;
  min-height: 300px;
}
#animation_demo {
  border: 10px solid orange;
  background-color: rgba(0, 0, 200, 0.4);
  width: 100px;
  height: 100px;
  position: relative;
  top: 0px;
  left: 0px;
}
[id^="btn_animation"] {
  padding: 0.5em;
  font-size: 2em;
  margin-top: 1em;
  color: rgba(20, 20, 20, 0.6);
  border-radius: 0.3em;
}
.button {
  padding: 0.5em;
  font-size: 2em;
  margin-top: 1em;
  color: rgba(20, 20, 20, 0.6);
  border-radius: 0.3em;
  outline: 0;
  text-align: left;
}
.tblAddClass {
  border: 2px solid white;
  border-collapse: collapse;
  padding: 1em;
}
.tblEvenRow {
  background-color: #ffae00;
}
.tblOddRow {
  background-color: #65c1cd;
}
.tblHeader {
  background-color: #8ac007;
}
.tblRowActive {
  background-color: #898989;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}
.tblToggle {
  font-size: 0.8em;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
#tblUsers {
  margin-right: 0px;
}
p#lessExample {
  border: 2px solid #ecf7f9;
  border-radius: 0.5em;
  background-color: #b2e0e6;
  color: #19474d;
  padding: 1em;
  margin: 2em 1em 2em 1em;
  font-size: 2em;
}
#patMatch {
  background-color: #fff0ff;
  border-color: #ff90ff;
  color: #9e00ff;
  border-width: 5px;
  border-style: solid;
  border-radius: 6px;
  padding: 1em;
  margin: 1em 1em 1em 0em;
  text-align: left;
  line-height: 2em;
}
#guardMixin {
  background-color: #97dcdc;
  font-size: 1em;
  border-style: solid;
  border-width: 5px;
  border-color: #4bc2c2;
  margin: 1em 1em 1em 0em;
  padding: 1em;
}
#guardMixinOff {
  margin: 1em 1em 1em 0em;
  padding: 1em;
}
#replace {
  background-color: #86dff5;
  border: replace("1px solid rgb(23, 34, 45)", "px", "em");
  margin: 1em 1em 1em 0em;
  padding: 1em;
  font-size: 2em;
}
