/*
 * Hier komen alle less variabelen en mixins
 * Tip: link dit bestand als eerste bovenaan in index.php 
 */
.customBorderBackground {
  background-color: #8ac008;
  border: 5px solid #78a807;
  border-radius: 6px;
}
