
@baseColor: #65C1CD;
@fontSize: 2em;

p#lessExample
{
	border: 2px solid lighten(@baseColor, 35%);
	background-color: lighten(@baseColor, 20%);
	color: darken(@baseColor, 40%);
	padding: 1em;
	border-radius:0.5em;
	margin:2em;
	font-size: @fontSize;
}
