/*
 * Hier komen alle less variabelen en mixins
 * Tip: link dit bestand als eerste bovenaan in index.php 
 */
#user_info {
  border: 1px solid #65c1cd;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: #65c1cd;
  color: white;
}
#user_info #right {
  float: right;
}
#user_info #left {
  float: left;
}
#userrole_link {
  background-color: #ff7f00;
  border: 5px solid #cc6600;
  color: white;
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
}
