@import url("./style-less.less");

#user_info
{
	border:1px solid rgba(101, 193, 205, 1);
	margin-top:10px;
	padding:10px;
	border-radius:6px;
	background-color:rgba(101, 193, 205, 1);
	color: white;
}

#user_info #right
{
	float: right;
}

#user_info #left
{
	float: left;
}

#userrole_link
{
	background-color:@linkColor;
	border:5px solid darken(@linkColor, 10%);
	color:white;
	border-radius:6px;
	text-align:center;
	margin-top:10px;
	font-size:16px;
	padding:10px;
}